<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-xl-8">
            {{>monitor-busquedas}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-7">
            {{>monitor-resultados}}
        </div>
    </div>
</div>